## Settings file was created by plugin Forgotten Biomes v0.0.12
## Plugin GUID: alree.forgotten_biomes

[_General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Enable more log
# Setting type: Boolean
# Default value: false
Debug Mode = false

## Force use files instead of internal configuration (set to TRUE if you play on linux based server)
# Setting type: Boolean
# Default value: true
Load Config from files = true

## Nexus ID
# Setting type: Int32
# Default value: 1128
NexusID = 1128

[Biomes]

## Add vegetation/rocks in AshLands
# Setting type: Boolean
# Default value: true
AshLands = true

## Add locations in AshLands
# Setting type: Boolean
# Default value: true
AshLands Locations = true

## Add vegetation/rocks in DeepNorth
# Setting type: Boolean
# Default value: true
DeepNorth = true

## Add locations in DeepNorth
# Setting type: Boolean
# Default value: true
DeepNorth Locations = true

## Add vegetation/rocks in Meadows
# Setting type: Boolean
# Default value: false
Meadows = false

## Add locations in Meadows
# Setting type: Boolean
# Default value: true
Meadows Locations = true

## Add vegetation/rocks in BlackForest
# Setting type: Boolean
# Default value: false
BlackForest = false

## Add locations in BlackForest
# Setting type: Boolean
# Default value: true
BlackForest Locations = true

## Add vegetation/rocks in Mountains
# Setting type: Boolean
# Default value: false
Mountain = false

## Add locations/rocks in Mountains
# Setting type: Boolean
# Default value: true
Mountain Locations = true

## Add vegetation/rocks in Swamp
# Setting type: Boolean
# Default value: false
Swamp = false

## Add locations in Swamp
# Setting type: Boolean
# Default value: true
Swamp Locations = true

## Add vegetation/rocks in Plains
# Setting type: Boolean
# Default value: false
Plains = false

## Add locations in Plains
# Setting type: Boolean
# Default value: true
Plains Locations = true

## Add vegetation/rocks in Mistlands
# Setting type: Boolean
# Default value: false
Mistlands = true

## Add locations in Mistlands
# Setting type: Boolean
# Default value: true
Mistlands Locations = true

## Add vegetation/rocks in Ocean
# Setting type: Boolean
# Default value: false
Ocean = false

[Clutter]

## Add 'Disabled Clutter' to Grass Generation.
# Setting type: Boolean
# Default value: true
Disabled Clutter = true

[Commands]

## commands 'location' prevent world save, if 'true' the world will save even with a use of 'location' command.
# Setting type: Boolean
# Default value: true
Spawn Location = true

[Config Ashlands]

## Enable burn damage on Ashrain and AshLands
# Setting type: Boolean
# Default value: true
Ashrain and AshLands damage = true

## Damage done to your life
# Setting type: Single
# Default value: 10
Damage value = 10

## Reduces the resistance needed to travel in AshLands without burning (You should be Resistant, and not Very Resistant)
# Setting type: Boolean
# Default value: true
Decrease Fire Resist = true

[Config DeepNorth]

## Enable thouger frost damage in DeepNorth
# Setting type: Boolean
# Default value: true
DeepNorth damage = true

## Damage done to your life
# Setting type: Single
# Default value: 10
Damage value = 10

## Reduces the resistance needed to travel in DeepNorth (You should be Resistant, and not Very Resistant)
# Setting type: Boolean
# Default value: true
Decrease Frost Resist = true

[Config Mistlands]

## Enable poison damage on Mistlands
# Setting type: Boolean
# Default value: true
Mistlands damage = false

## Damage done to your life
# Setting type: Single
# Default value: 10
Damage value = 10

## Reduces the resistance needed to travel in Mistland without be poisoned (You should be Resistant, and not Very Resistant)
# Setting type: Boolean
# Default value: true
Decrease Poison Resist = true

[Locations]

## Add 'Hidden locations' to the World Generation
# Setting type: Boolean
# Default value: true
Hidden Location = true

## Add 'Disabled locations' to the World Generation
# Setting type: Boolean
# Default value: true
Disabled Location = false

## Remove locations from World Generation
# Setting type: Boolean
# Default value: true
Remove Location = false

## Minimal distance from map center to spawn Locations.
# Setting type: Single
# Default value: 200
Distance from center = 200

[Rooms]

## Add 'Disabled Rooms' to the Dungeons Generation.
# Setting type: Boolean
# Default value: true
Disabled Rooms = true

[Shaders]

## NOT WORKING - NOT FULLY IMPLEMENTED Only for High End Machine, shaders are tested/forced every 10 sec in AshLands and DeepNorth.
# Setting type: Boolean
# Default value: true
Shaders Force = false

Shaders Tweaks = false

