## Settings file was created by plugin DoOrDieMonsters v0.4.5
## Plugin GUID: horemvore.DoDMonsters

[Armor Kits]

## Enables Armor Crates, if you disable these you will have to disable bosses below
# Setting type: Boolean
# Default value: true
Enable = false

[Bosses]

## Enables Bosses and Shields, requires Armor Kits
# Setting type: Boolean
# Default value: true
Enable = false

[Buildables]

## Enables Anvils and Rugs
# Setting type: Boolean
# Default value: true
Enable = true

[Monster Reskins]

## Enables Monster Reskins
# Setting type: Boolean
# Default value: true
Enable = true

[Weapon Kits]

## Enables Weapon Kits, if you disable these you will have to disable all the Weapons below
# Setting type: Boolean
# Default value: true
Enable = true

[Weapons]

## Enables Weapons, requires Weapon Kits
# Setting type: Boolean
# Default value: true
Enable = true

[Weapons - Magic Overhaul Themed]

## Enables Magic Overhaul Themed Class Weapons, requires Weapon Kits
# Setting type: Boolean
# Default value: true
Enable = true

